[resource]

resource/name = "{{ name }}"
{# MORPH #}
{% if collada_item.dict_source_morph|length > 0 -%}
morph_target/mode = 0
morph_target/names = [
    {% for morph_name in collada_item.list_morph_name -%}
        "{{ morph_name }}"{% if loop.last == false -%},{% endif -%}
    {% endfor %}
]
{% endif -%}
{# MORPH #}
{# SURFACES #}
{% for geom in collada_item.list_geometry -%}
surfaces/{{ loop.index0 }} = {
"name": "{{ geom.material_name }}",
"material": SubResource( {{ geom.material_index }} ),
"primitive": 4,
"alphasort": false,
"arrays": [
    Vector3Array({% for v in geom.varray_virt %} {{ v }}{% if loop.last == false %},{% endif %}{% endfor %} ),
    Vector3Array({% for n in geom.varray_norm %} {{ n }}{% if loop.last == false %},{% endif %}{% endfor %} ),
    null, null,
    {% if geom.varray_tex1|length == 0 -%}
    null,
    {% else -%}
    Vector2Array({% for v in geom.varray_tex1 %} {{ v }}{% if loop.last == false %},{% endif %}{% endfor %} ),
    {% endif %}
    {% if geom.varray_tex2|length == 0 -%}
    null,
    {% else -%}
    Vector2Array({% for v in geom.varray_tex2 %} {{ v }}{% if loop.last == false %},{% endif %}{% endfor %} ),
    {% endif %}
    {% if geom.varray_j|length == 0 -%}
    null,
    {% else -%}
    FloatArray({% for v in geom.varray_j %} {{ v }}{% if loop.last == false %},{% endif %}{% endfor %} ),
    {% endif -%}
    {% if geom.varray_w|length == 0 -%}
    null,
    {% else -%}
    FloatArray({% for v in geom.varray_w %} {{ v }}{% if loop.last == false %},{% endif %}{% endfor %} ),
    {% endif -%}
    IntArray({% for i in range(geom.mesh_virt_size) %} {{ i }}{% if loop.last == false %},{% endif %}{% endfor %} )
],
"morph_arrays": [
{% if collada_item.dict_source_morph|length > 0 -%}
    {% for morph_name in collada_item.list_morph_name -%}
        {% set morph_loop = loop %}
        {% for geom_morph in collada_item.dict_morph[morph_name] -%}
            {% if geom_morph.material == geom.material %}
            [
                Vector3Array({% for v in geom_morph.varray_virt %} {{ v }}{% if loop.last == false %},{% endif %}{% endfor %} ),
                Vector3Array({% for n in geom_morph.varray_norm %} {{ n }}{% if loop.last == false %},{% endif %}{% endfor %} ),
                null, null,
                {% if geom.varray_tex1|length == 0 -%}
                null,
                {% else -%}
                Vector2Array({% for v in geom.varray_tex1 %} {{ v }}{% if loop.last == false %},{% endif %}{% endfor %} ),
                {% endif %}
                {% if geom.varray_tex2|length == 0 -%}
                null,
                {% else -%}
                Vector2Array({% for v in geom.varray_tex2 %} {{ v }}{% if loop.last == false %},{% endif %}{% endfor %} )
                {% endif %}
            ]{% if morph_loop.last == false %},{% endif %}
            {% endif %}
        {% endfor -%}
    {% endfor -%}
{% endif %}
]
}
{% endfor -%}
custom_aabb/custom_aabb = AABB( 0, 0, 0, 0, 0, 0 )
{# SURFACES #}
